<div class="container-fluid" style="padding-left:200px">
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-8 highlight">
<h2 id="input-groups" class="page-header">News</h2>
  <% if !@news.blank? %>
    <% for item in @news %>

      <div class="bs-callout bs-callout-info" id="callout-navbar-breakpoint">
		    <h3><%= item.title %></h3><small> by <%= item.user.name %> on <%= item.created_at %></small>
		    <br/>
		    <p><%= item.body %></p>
  	  </div>
    <% end %>
  <% else %>
    
  <% end %>
  </div>
  <div class="col-xs-6 col-md-2">
  	<table class="table table-bordered">
  	<tr>
  		<th>Users</th>
    </tr>

  	<% @users.each_with_index do |user, index| %>

    <tr>

      	<% if user != current_user %>
      		      <td>
	        <%= link_to user.name, "#", class: "btn btn-default-xs btn-primary start-conversation",
	                    "data-sid" => current_user.id, "data-rip" => user.id,:style=>"width:100%" %>
      	      </td>
      	<% end %>


      <br/>
    </tr>
	<% end %>
	</table>
</div>
</div>
</div>

