<p id="notice"><%= notice %></p>

<p>
  <strong>Challenger:</strong>
  <%= @match.challenger.name %>
</p>

<p>
  <strong>Challenged:</strong>
  <%= @match.challenged.name %>
</p>

<p>
  <strong>Challenger won:</strong>
  <%= @match.challenger_won %>
</p>

<p>
  <strong>Description:</strong>
  <%= @match.description %>
</p>

<p>
  <strong>Proof:</strong>
  <%= @match.proof %>
</p>

