<!DOCTYPE html>
<html>
<head>
  <title>Smash League</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' %>
  <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>	
  <%= csrf_meta_tags %>

</head>
<body>
<style type="text/css">
body { padding-top: 70px; }

</style>
	<nav id="navbar" class="navbar navbar-default navbar-fixed-top" >
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <% if user_signed_in? %>
              <li><%= link_to '('+current_user.email+') Logout','/users/sign_out', method: :delete %></li>
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Matches<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/matches/new">New Match</a></li>
                <li><a href="/matches/submit">Submit results</a></li>                
                <li class="divider"></li>
                <li><a href="/matches">History</a></li>                
              </ul>
              <li><%= link_to 'Match requests (' + current_user.matches_pending.count.to_s + ')','/matches/pending'  %></li>
            </li>
            <% if current_user.admin %>
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/news/new">Create news</a></li>
                <li class="divider"></li>
                <li><a href="/matches/conflicting">Conflicting matches</a></li>
                <li class="divider"></li>
            
              </ul>
            </li>
            <% end %>
                <li><a href="/user_info/all">Users</a></li>    
            <% else %>
              <li><%= link_to 'Login','/users/sign_in' %></li>
            <% end %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'FAQ', :controller => '/main', :action => :faq %></li>
            <li><%= link_to 'Edit profile', '/users/edit'%></li>
          </ul>
</nav>

  <!-- flash messages here -->
  <%= yield %>


</body>
</html>